<h1>Editing tipo de pago</h1>

<%= render "form", tipo_de_pago: @tipo_de_pago %>

<br>

<div>
  <%= link_to "Show this tipo de pago", @tipo_de_pago %> |
  <%= link_to "Back to tipo de pagos", tipo_de_pagos_path %>
</div>
